{% extends "base.html" %}

{% block content %}
<style>
  body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: #fdfdfd;
  }

  .head_text {
    color: white;
  }

  .card {
    box-shadow: 0 16px 48px #E3E7EB;
  }
</style>

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to my awesome Blog </h3>
          <p class="text-light">We Love Django As much as you do..! &nbsp home
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>

<div class="container">
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 mt-3 left">
      {% for post in post_list %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>

          <p class="card-text">{{post.content|slice:":200" }}</p>
          <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
        </div>

      </div>
      {% endfor %}



      <!-- home content goes here -->
      <section id="about" class="py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1>What We Do</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid
                tempore dolorum
                error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur aut
                sint deleniti
                laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta blanditiis
                similique
                praesentium temporibus adipisci debitis labore!</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, fuga eaque. Amet, assumenda aliquid
                tempore dolorum
                error eveniet doloribus sed repellat quod, dolores fuga ipsam soluta. Aliquam accusantium pariatur aut
                sint deleniti
                laborum ducimus voluptatem? Architecto cumque quod suscipit officiis soluta, voluptate dicta blanditiis
                similique
                praesentium temporibus adipisci debitis labore!</p>
            </div>
            <div class="col-md-6">
              <img src="https://source.unsplash.com/random/700x700/?technology" alt=""
                class="img-fluid rounded-circle d-none d-md-block about-img">
            </div>
          </div>
        </div>
      </section>

      <!-- STAFF -->
      <section id="staff" class="py-5 text-center bg-dark text-white">
        <div class="container">
          <h1>Our Staff</h1>
          <hr>
          <div class="row">
            <div class="col-md-3">
              <img src="https://source.unsplash.com/random/700x700/?technology" alt=""
                class="img-fluid rounded-circle mb-2">
              <h4>Jane Doe</h4>
              <small>Marketing Manager</small>
            </div>
            <div class="col-md-3">
              <img src="https://source.unsplash.com/random/700x700/?technology" alt=""
                class="img-fluid rounded-circle mb-2">
              <h4>Sara Williams</h4>
              <small>Business Manager</small>
            </div>
            <div class="col-md-3">
              <img src="https://source.unsplash.com/random/700x700/?technology" alt=""
                class="img-fluid rounded-circle mb-2">
              <h4>John Doe</h4>
              <small>CEO</small>
            </div>
            <div class="col-md-3">
              <img src="https://source.unsplash.com/random/700x700/?technology" alt=""
                class="img-fluid rounded-circle mb-2">
              <h4>Steve Smith</h4>
              <small>Web Developer</small>
            </div>
          </div>
        </div>
      </section>


      <!-- home content goes here -->
    </div>
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock sidebar %}
  </div>

</div>
{%endblock%}